.section {
  padding: 40px 0;
  border-bottom: 1px solid #e0e0e0;
}
.section h2 {
  color: #d9232d; /* Màu xanh lá cây */
  margin-bottom: 20px;
}
.section img {
  transition: transform 0.3s;
  border-radius: 8px;
}
.section img:hover {
  transform: scale(1.05); /* Hiệu ứng phóng to hình ảnh khi di chuột */
}
.list-group-item {
  border: none; /* Bỏ đường viền cho item của list-group */
}
