<div class="container mt-5">
  <div class="card p-3 mb-4 shadow-lg">
    <div class="input-group">
      <input type="text" class="form-control" aria-label="Tên dự án">
      <div class="input-group-append">
        <button type="button" class="btn btn-secondary" (click)="openPopup()">Tìm dịch vụ</button>
      </div>
    </div>
  </div>
    <div class="card p-4 shadow-lg mb-5">
    <div class="form-group">
      <label for="productName" class="font-weight-bold">Tên dịch vụ</label>
      <input type="text" class="form-control" id="productName" [(ngModel)]="product.name" name="productName"  required>
    </div>
    <div class="mb-3">
      <label for="parentCategory" class="form-label">Danh Mục</label>
      <select class="form-select" id="parentCategory" [(ngModel)]="product.category" >
        <option value="">-- Chọn danh mục --</option>
        <ng-container *ngFor="let item of cates">
          <option [value]="item.id">{{ item.categoryName }}</option>
        </ng-container>
      </select>
    </div>
    <div class="form-group">
      <label for="productPrice" class="font-weight-bold">Giá</label>
      <input type="number" class="form-control" id="productPrice" [(ngModel)]="product.price" name="productPrice"  required>
    </div>
    <div class="form-group">
      <label for="productDescription" class="font-weight-bold">Mô tả dịch vụ</label>
      <ck-content (changeContent)="handelContent($event)"  [content]="product.description"></ck-content>
    </div>
    <div class="form-group">
      <label class="font-weight-bold">Hình ảnh dịch vụ</label>
      <div class="d-flex flex-wrap justify-content-start">
        <app-image-upload class="me-2 mb-2 shadow-sm" [imageUrl]="sliderName1" (changeFile)="changeFileName($event,'slider1')"></app-image-upload>
        <app-image-upload class="me-2 mb-2 shadow-sm" [imageUrl]="sliderName2" (changeFile)="changeFileName($event,'slider2')"></app-image-upload>
        <app-image-upload class="me-2 mb-2 shadow-sm" [imageUrl]="sliderName3" (changeFile)="changeFileName($event,'slider3')"></app-image-upload>
        <app-image-upload class="mb-2 shadow-sm" [imageUrl]="sliderName4" (changeFile)="changeFileName($event,'slider4')"></app-image-upload>
        <app-image-upload class="mb-2 shadow-sm" [imageUrl]="sliderName5" (changeFile)="changeFileName($event,'slider5')"></app-image-upload>
        <app-image-upload class="mb-2 shadow-sm" [imageUrl]="sliderName6" (changeFile)="changeFileName($event,'slider6')"></app-image-upload>
      </div>
    </div>
    <div class="form-group">
      <label class="font-weight-bold">Hiển thị trên list dịch vụ</label>
      <app-image-upload class="mb-2 shadow-sm" (changeFile)="changeFileName($event,'img')" [imageUrl]="imgName"></app-image-upload>
    </div>
    <button type="button" class="btn btn-primary btn-block mt-4 shadow-sm" (click)="onSubmit()">Thêm/Sửa</button>
  </div>
  <app-popup [isOpen]="isPopupOpen" (close)="closePopup()" [title]="'Tìm kiếm dịch vụ'">
    <app-table-template [isPaging]="true" [tableConfig]="config" [data]="items" [isChangePageSize]="false"
      (handelChangePage)="handlePageEvent($event)" [len]="len" [total]="total" (clickRow)="clickRow($event)">
    </app-table-template>
  </app-popup>
</div>
