.product-card {
  background: white;
  border-radius: 10px;
  padding: 15px;

  background-color: #f8f9fa;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.btn-custom {
  width: 100%;
  padding: 10px;
  font-size: 18px;
}
.price {
  font-size: 24px;
  font-weight: bold;
  color: #ff0000;
}
.discount {
  font-size: 16px;
  color: gray;
  text-decoration: line-through;
}
.features {
  background: #fff3cd;
  padding: 10px;
  border-radius: 5px;
}

.full-width-img {
  width: 100%; /* Hình ảnh to chiếm toàn bộ chiều ngang */
  max-height: 100%; /* Giới hạn chiều cao */
  object-fit: cover; /* Cắt ảnh để vừa khung */
  border-radius: 10px;
  margin-bottom: 15px; /* Khoảng cách giữa các ảnh */
  transition: 0.3s;
}

.full-width-img:hover {
  transform: scale(1.02);
}

.imgWrap {
  padding: 50px 0;
  text-align: center;
  margin-top: 10px;
}
.imgWrap img {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}

.prodDetailInfo .detailImg .imgWrap {
  padding: 30px 0;
}