/* Header */
.header {
  background-color: black;
  color: #ffffff; /* Trắng tinh khiết */
  padding: 15px 0;
}

.navmenu a {
  font-size: 1.1rem;
  color: #ffffff; /* Đảm bảo các liên kết cũng sáng */
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3); /* Tạo hiệu ứng sáng */
}

.dropdown  a {
  color: black;
}

/* Logo */
.logo img {
  max-height: 90px;
  transition: transform 0.3s ease-in-out;
}

.logo:hover img {
  transform: scale(1.1);
}


.navmenu ul li.active > a {
  color: red; /* Màu đỏ khi active */
}

@media (max-width: 1199px) {
  .navmenu li{
    background-color: black;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3); /* Tạo hiệu ứng sáng */

  }
  .navmenu a {
    font-size: 1rem;
    color: #ffffff; /* Đảm bảo các liên kết cũng sáng */
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3); /* Tạo hiệu ứng sáng */
  }

  .mobile-nav-toggle{
    color: #ffffff; /* Trắng tinh khiết */
  }

}





