/* Áp dụng cho màn hình có chiều rộng từ 992px trở lên (PC) */
/* @media (min-width: 992px) {
  #navmenu ul li a {
    font-size: 18px;
    font-weight: 500;
  }

  #navmenu ul li.dropdown ul li a {
    font-size: 16px;
  }

  #navmenu ul li.dropdown ul li.dropdown ul li a {
    font-size: 14px;
  }
} */
