<div class="video-container">
  <!-- Swiper -->
  <div class="swiper-container video-swiper">
    <div class="swiper-wrapper">
      <div
        class="swiper-slide video-side"
        *ngFor="let video of videos"
        (click)="playVideo(video.id)"
      >
        <img
          [src]="'https://img.youtube.com/vi/' + video.id + '/mqdefault.jpg'"
          class="img-fluid shadow"
          alt="Thumbnail của video"
        >
      </div>
    </div>
  </div>

  <!-- Video chính -->
  <div class="video-main" *ngIf="!isVideoLoaded">
    <iframe width="100%" height="400" [src]="trustedUrl" frameborder="0" allowfullscreen class="rounded"></iframe>
  </div>
</div>
