<div class="container mb-5">

  <h3 class="page-title">Bảng Báo Giá Tranh Vẽ</h3>
  <p class="subtitle">Giá Cạnh Tranh - Thể Loại Tranh</p>


  <table class="price-table">
      <thead>
          <tr>
              <th>Thể Loại Tranh</th>
              <th>Giá (VNĐ)</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Tranh trường mầm non</td>
              <td>150.000 – 250.000 / m<sup>2</sup></td>
          </tr>
          <tr>
              <td>Tranh tường cafe, karaoke, trà sữa</td>
              <td>250.000 – 350.000 / m<sup>2</sup></td>
          </tr>
          <tr>
              <td>Tranh tường quán ăn, uống</td>
              <td>250.000 – 350.000 / m<sup>2</sup></td>
          </tr>
          <tr>
              <td>Tranh tường shop bán hàng</td>
              <td>250.000 – 350.000 / m<sup>2</sup></td>
          </tr>
          <tr>
              <td>Tranh tường nhà hàng, khách sạn</td>
              <td>250.000 – 350.000 / m<sup>2</sup></td>
          </tr>
          <tr>
              <td>Tranh tường tả thực cao cấp, 3D</td>
              <td>400.000 / m<sup>2</sup> trở lên</td>
          </tr>
          <tr>
            <td>Tranh tường tả thực cao cấp, 3D</td>
            <td>400.000 / m<sup>2</sup> trở lên</td>
        </tr>
        <tr>
            <td>Tranh tường tả thực cao cấp, 3D</td>
            <td>400.000 / m<sup>2</sup> trở lên</td>
        </tr>
        <tr>
          <td>Tranh tường tả thực cao cấp, 3D</td>
          <td>400.000 / m<sup>2</sup> trở lên</td>
        </tr>
      </tbody>
  </table>

  <div class="special-offer">
      <h2>Ưu Đãi Khi Liên Hệ Trực Tiếp</h2>
      <ul>
          <li>Cam kết giá tốt nhất cho bạn</li>
          <li>Tư vấn miễn phí nhiệt tình về cách trang trí vẽ tranh phù hợp với không gian bạn muốn trang trí.</li>
      </ul>
      <p>Hotline: <a href="tel:0937151911">093 715 1911 - A.Khánh</a></p>
  </div>
</div>
