<body>
  <div class="login-container">
      <h2 class="welcome-text">ADMIN</h2>
      <form method="POST">
          <div class="form-group">
              <i class="fas fa-envelope form-icon"></i>
              <input type="email" [(ngModel)]="email" class="form-control" id="email" placeholder="Email" required>
          </div>

          <div class="form-group">
              <i class="fas fa-lock form-icon"></i>
              <input  type="password"    (keyup.enter)="loginPage()" [(ngModel)]="password" class="form-control" id="password" placeholder="Password" required>
          </div>

          <button type="button" class="btn-login" (click)="loginPage()">Sign In</button>
      </form>
  </div>
</body>
