

<div class="container mt-4">
  <div class="row">
      <div class="col-md-3 d-none d-md-block">
          <ul class="list-group" *ngFor="let item of cates">
              <li class="list-group-item">{{item.categoryName}}</li>
          </ul>
      </div>
      <div class="col-md-9 col-12">
          <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                  <div class="carousel-item active">
                      <img src="../../assets/img/cut/hero-carousel-1.jpg" class="d-block w-100" alt="Banner 1">
                  </div>
                  <div class="carousel-item">
                      <img src="../../assets/img/cut/hero-carousel-2.jpg" class="d-block w-100" alt="Banner 2">
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/img/cut/hero-carousel-3.jpg" class="d-block w-100" alt="Banner 3">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
              </button>
          </div>
      </div>
  </div>
  <div class="row mt-4">
      <div class="col-md-4 col-sm-6">
          <div class="card">
              <img src="../../assets/img/cut/home_1.jpg" class="card-img-top" alt="">
              <div class="card-body">
                  <h5 class="card-title">Vẽ tranh chuyên nghiệp </h5>
              </div>
          </div>
      </div>
      <div class="col-md-4 col-sm-6">
          <div class="card">
              <img src="../../assets/img/cut/home_2.jpg" class="card-img-top" alt="">
              <div class="card-body">
                  <h5 class="card-title">Tranh vẽ tường cao cấp</h5>
              </div>
          </div>
      </div>
      <div class="col-md-4 col-sm-6">
          <div class="card">
              <img  src="../../assets/img/cut/home_3.jpg"class="card-img-top" alt="">
              <div class="card-body">
                  <h5 class="card-title">Bảo hành lâu dài màu tranh bền bỉ theo thời gian</h5>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container mt-5" data-aos="fade-up">
  <h3 class="section-title">Dịch Vụ Vẽ Tranh Tường tại Mỹ Thuật Nguyễn Gia</h3>
  <div class="row">
    <div class="col-lg-3 col-md-4 col-6 mt-3" *ngFor="let item of items">
      <div class="product-card" [routerLink]="['/shopping/detail', item.id]">
        <div class="product-image">
          <img [src]="item.img" alt="{{ item.name }}">
        </div>
        <div class="product-info">
          <p class="product-name">{{ item.name }}</p>
          <div class="product-price">
            <span class="new-price">{{ item.price | setComma : '' }}đ</span>
            <span class="old-price" *ngIf="item.price">{{ item.price | setComma : '' }}đ</span>
          </div>
          <span class="discount-badge" *ngIf="item.rate">-{{ item.rate }}%</span>
        </div>
      </div>
    </div>
  </div>
  <app-paging-custom [length]="total" [pageSize]="len" [pageIndex]="page" (pageChange)="onPageChange($event)">
  </app-paging-custom>
</div>



<div class="container mt-5">
  <h3 class="text-start fw-bold">Bộ Sưu Tập</h3>
  <div class="row row-cols-2 row-cols-md-5 g-4">
    <div class="col" *ngFor="let item of cates">
      <div class="card border-0 shadow-sm category-card" style="cursor: pointer;"[routerLink]="['/shopping/product-list']" [queryParams]="{ id: item.id }">
        <img [src]="item.imageUrl" class="card-img-top" alt="{{ item.categoryName }}">
        <div class="card-body text-center">
          <h6 class="fw-bold">{{ item.categoryName }} <span>&rarr;</span></h6>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-4">
    <button class="btn btn-warning fw-bold px-4" routerLink="/shopping/product-list">Xem thêm</button>
  </div>
</div>
<div class="container my-5">
  <div class="row text-center">
      <div class="col-md-3 col-12 mb-3">
          <div class="p-3 bg-light rounded shadow-sm h-100">
              <h5 class="fw-bold">Đa Dạng</h5>
              <p>Đưa ra các ý tưởng tuyệt vời cho không gian sống của bạn</p>
          </div>
      </div>
      <div class="col-md-3 col-12 mb-3">
          <div class="p-3 bg-light rounded shadow-sm h-100">
              <h5 class="fw-bold">Chất Lượng</h5>
              <p>Cam kết tranh đẹp như mẫu. Bảo hành lâu dài.</p>
          </div>
      </div>
      <div class="col-md-3 col-12 mb-3">
          <div class="p-3 bg-light rounded shadow-sm h-100">
              <h5 class="fw-bold">Uy Tín</h5>
              <p>Hơn 10 năm kinh nghiệm trong linh vực vẽ tranh tường</p>
          </div>
      </div>
      <div class="col-md-3 col-12 mb-3">
          <div class="p-3 bg-light rounded shadow-sm h-100">
              <h5 class="fw-bold">Tốc Độ</h5>
              <p>Hỗ trợ tư vấn vẽ và thi công đúng hẹn theo hợp đồng đặt ra</p>
          </div>
      </div>
  </div>
</div>

<div class="container my-5">
  <h3 class="section-title text-center">Khách hàng nói gì về chúng tôi?</h3>

  <div class="swiper-container feedback-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide feedback-card" *ngFor="let feedback of feedbacks">
        <img [src]="feedback.avatar" alt="Avatar" class="avatar">
        <p class="comment">"{{ feedback.comment }}"</p>
        <h4 class="name">- {{ feedback.name }}</h4>
      </div>
    </div>
  </div>
</div>


<div class="container mt-4 mb-4">
  <h3 class="section-title"> Thư viện video</h3>
  <app-video></app-video>
</div>

