.hero .overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}


  .btn {
    border-radius: 20px;
  }

  .card {
    border: none;
    transition: transform 0.2s;
  }

  .card:hover {
    transform: scale(1.05);
  }



  h3 {
    font-size: 1.5rem;
    color: #000;
    text-align: left;
    margin-bottom: 40px;
    border-bottom: 3px solid #000;
    padding-bottom: 10px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

h3:hover {
    color: #d9232d;
    transition: color 0.3s ease;
}


.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.section-title span {
    font-size: 1.25rem;
    color: #555;
}
  @media (max-width: 768px) {
    .display-4 {
      font-size: 1.5rem;
    }

    .lead {
      font-size: 1rem;
    }
  }

  @media (max-width: 576px) {
    .btn {
      width: 100%;
    }
  }
  .product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.product-card {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    background: #fff;
}
.product-name {
    font-weight: bold;
    margin-top: 10px;
}
.product-price {
    color: #d9534f;
    font-size: 18px;
    font-weight: bold;
}
